# Procesamiento y análisis de datos
pandas
numpy
openpyxl  # para leer archivos Excel
joblib

# Visualización
matplotlib
seaborn

# Machine Learning
scikit-learn

# Web API
fastapi
uvicorn

# Registro de experimentos
mlflow

# Validación de datos para FastAPI
pydantic

# Sistema operativo y utilidades
argparse
